
Deployment/Files/blobsource/AcftRef.txt
Lab Modules/Lab 2 - Lift and Shift of SSIS to Azure/~$B02 - Lift and Shift of SSIS to Azure.docx
Deployment/Files/blobsource/AcftRef.txt
Lab Modules/Lab 3 - Rebuilding the Extract and Load with ADF/~WRL0003.tmp
*.tmp
